/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');
body {
    font-family: 'Arsenal', sans-serif;
    font-size: 18px;
}

/* General styling rules*/
.keyword {
    text-decoration: underline;
    font-style: italic;
}
.search {
    text-align: center;
}


/*Nav Bar */
nav {
    background-color: #f3f3f3;
    padding: 3vh 5vw;
}

ul {
    text-align: center;
    margin: 0 auto;
}
li {
    display: inline-block;
    text-decoration: none;
    margin-left: 5vw;
    margin-right: 5vw;
}
li a {
    color: black;
}

/*Logo*/
#logo {
    max-width: 70vw;
    margin-left: 15vw;
    margin-top: 30vh;
}

/* Table styling */
table {
    width: 90vw;
}

th {
    border: 2px solid;
    padding: 5px;
}
td {
    border: 1px solid;
    padding: 2px;
 }