/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');
body {
    font-family: 'Arsenal', sans-serif;
    font-size: 16px;
    margin:0;
    text-align: center;
}
h1{
    margin-top: 6vh;
    color:black;
    font-size: 26px;
}
h2 {
    font-size: 22px;
}

/* General styling rules*/
.keyword {
    text-decoration: underline;
    font-style: italic;
}

/* Search forms*/
#all-search {
    margin-top: 2vh;
}
.buttons {
    background-color: black;
    color: #f3f3f3;
    padding: 3px 5px;
}
.buttons:hover {
    background-color: #f3f3f3;
    color: #372825;
    font-size: 20px;
}

/* Selection buttons*/
.button-area button{
    margin: 10px 3px;
}

/*Nav Bar */
nav {
    background-color:#f3f3f3;
    width:100vw;
    height: 5vh;
    position:fixed;
    top:0;
}

ul {
    margin: 0 auto;
}
li {
    display: inline-block;
    text-decoration: none;
    margin: 1.2vh 5vw;
}
li a {
    color: black;
}
li a:hover {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/*Logo*/

/*Homepage*/
#background-img {
    background: url("../images/goddard.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    
}
#logo {
    width: 50vw;
    margin-top: 35vh;
}
/* Table styling */
table {
    width: 90vw;
}

th {
    border: 2px solid;
    padding: 5px;
}
td {
    border: 1px solid;
    padding: 2px;
 }

 /*Office Layout HTML*/

 .office-layout{
    width:70vw;
    margin: 10vh 15vw;
 }